<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}" />
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="error" id="prompt">
                    {{ message }}
                    <button class="prompt" onclick="disappear()">X</button>
                </div>
            {% elif category == 'success' %}
                <div class="success" id="prompt">
                    {{ message }}
                    <button class="prompt" onclick="disappear()">X</button>
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <script>
            function disappear(){
                const el=document.getElementById("prompt");
                el.style.display = "none";
            }
        </script>
        <form enctype="multipart/form-data" method="POST">
            <div class="loginform">
                <h1 class="title">SIGNUP<h1>
                <!--<label for="pic">Profile Picture</label>
                <input class="login" type="file" name="pic">-->
                <!--<input class="login" type="text" name="first_name" placeholder="Enter first name" id="first_name">
                <input class="login" type="text" name="last_name" placeholder="Enter last name" id="last_name">-->
                <input class="login" type="text" name="username" placeholder="username" value={{username}}>
                <br>
                <input class="login" type="email" name="email" placeholder="email" value={{email}}>
                <br>
                <input class="login" type="password" name="password" placeholder="enter password">
                <br>
                <input class="login" type="password" name="password1" placeholder="confirm password">
                <br>
                <br>
                <button class="signup" type="submit">SIGN UP</button>
                <br>
                <a href="login" class="NewUser">Existing user?</a>
            </div>
        </form>
        <!--
        <div>
            Already have an account? 
            <button type=button onclick="location.href='login'">Login</button>
        </div>
        -->
    </body>
</html>
